
#header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 3;
  box-sizing: border-box;
  color: var(--header-color);
  background: var(--header-bg);
  box-shadow: var(--box-shadow-layer);
}

.header__actions-left {
  display: flex;
  padding: 0 5px;
}

.header__actions-right {
  margin-left: auto;
}

.header__wunderbar {
  width: 335px;
  height: 100%;
  border-left: 1px solid #eee;
  position: relative;

  .icon {
    position: absolute;
    left: 10px;
    top: 26px; //hacked for icon centering
  }
}

.wunderbar__input {
  width: 100%;
  height: 100%;
  color: var(--search-color);
  font-size: 14px;
  font-weight: lighter;
  padding-left: 38px; // for the icon

  // padding-right: 5px;
  // border-radius: 2px;
  // border: var(--search-border);
  // transition: box-shadow var(--transition-duration) var(--transition-type);
  &:focus {
    // background: var(--search-active-bg);
    // color: var(--search-active-color);
    // box-shadow: var(--search-active-shadow);
    // border-color: var(--color-primary);
  }
}
